<!--Please declare stylesheet below-->
<link rel="stylesheet" href="Admin/style/postContentStyle.css" />
<!--Please declare stylesheet above-->
<div id="Center">
    <header id="CenterContainerHeader">
        <h1>
            Successfully added a new post!
        </h1>
    </header>
    <section id="CenterContainerIntroduction">
        <div>
            <ul>
                <li><a href="posts">Previous page</a></li>
                <li><a href="#">View post</a></li>
                <li><a href="#">All posts</a></li>
            </ul>
        </div>
    </section>

</div>