<!--Please declare stylesheet below-->
<link rel="stylesheet" href="Admin/style/postContentStyle.css" />
<link rel="stylesheet" href="Admin/style/lightBox.css" />
<!--Please declare stylesheet above-->

<div id="Center">
    <header id="CenterContainerHeader">
        <h1>
            Create a new post
        </h1>
        <h2>
            Jason Shin
        </h2>
    </header>
    <section id="CenterContainerIntroduction">
        <div>
            <div>
                <form action="addPost" method="POST">
                    <div class="pushDown">
                        
                        <label id="TitleLabel" name="title">Title</label>
                        <input id="TitleInput" class="defaultInput" type="text" name="title" placeholder="fill me with wonderful title for your page.."><br>

                    </div>


                    <ul id="FontStyleOptions">
                        <li class="textareaButton" name="bold"><img src="Admin/resources/images/bold.png" alt="bold icon"></li>
                        <li class="textareaButton" name="italic"><img src="Admin/resources/images/italic.png" alt="italic icon"></li>
                        <li> | </li>
                        <li class="textareaButton" name="code"><img src="Admin/resources/images/code.png" alt="code icon"></li>
                        <li> | </li>
                        <li class="textareaButton" name="numList"><img src="Admin/resources/images/numList.png" alt="number list"></li>
                        <li class="textareaButton" name="squareList"><img src="Admin/resources/images/squareList.png" alt="Square list"></li>
                        <li class="textareaButton" name="image">img</li>
                    </ul>

                    <textarea id="MainContentBox"></textarea>
                    <div id="ImageBox">
                        
                    </div>
                    <!--<div class="preview">
                        stuff
                    </div>-->

                    <div>
                        <label class="pushDown" class="defaultInput" name="page">Page</label>
                        <select class="pushDown" name="page">
                            <option name="normal">page1</option>
                            <option name="forum">page2</option>
                            <option name="email">page3</option>
                            <option name="blogShop">page4</option>
                            <option name="imageGallery">page5</option>
                            <option name="videoGallery">Video gallery</option>
                        </select>
                    </div>
                    <label class="pushDown floatLeft" name="tags">Tags</label><br>
                    <input id="TagText" type="text" class="defaultInput" placeholder="enter in tags" name="tags" /><br>
                    <input class="submit pushDown" type="submit" value="Add a new post" />
                </form>
            </div>



        </div>
    </section>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="Admin/resources/JS/AdminTextArea.js"></script>