<!--Please declare stylesheet below-->
<link rel="stylesheet" href="Admin/style/indexContentStyle.css" />
<!--Please declare stylesheet above-->
<div id="Center">
    <header id="CenterContainerHeader">
        <h1>
            Welcome to admin page,
        </h1>
        <h2>
            Jason Shin
        </h2>
    </header>
    <section id="CenterContainerIntroduction">
        <div id="IntroLogo">
            <h1>LOGO</h1>
        </div>
        <div id="IntroText">
            <p>Welcome to Festival content management system. We are 
                pleased to introduce you the various tool you can use to 
                manage your website. You can find useful resources and 
                tutorials to help you guide building your website on this page. </p>
        </div>

        <ul id="Tutorials">
            <li>
                <h2>Setting up your first website</h2>

            </li>

            <li>
                <h2>Adding contents</h2>
            </li>

            <li>
                <h2>Styling websites</h2>
            </li>
        </ul>
    </section>

</div>