<!--Please declare stylesheet below-->
<link rel="stylesheet" href="Admin/style/pageContentStyle.css" />
<!--Please declare stylesheet above-->
<div id="Center">
    <header id="CenterContainerHeader">
        <h1>
            Add new a page!
        </h1>

    </header>
    <section id="CenterContainerIntroduction">

        <div>




            <!-- making page -->
            <section class="MenuSection fullWidth floatLeft">

                <header>
                    <h3>Make a new page</h3>
                </header>
                <div>
                    <form action="#" method="POST">
                        <label name="title">Title</label>
                        <input id="TitleInput" type="text" name="title" placeholder="fill me with wonderful title for your page.."><br>
                        <select name="pageType">

                            <option name="normal">Normal page</option>
                            <option name="forum">Forum</option>
                            <option name="email">Email</option>
                            <option name="blogShop">Blog shopping</option>
                            <option name="imageGallery">Image gallery</option>
                            <option name="videoGallery">Video gallery</option>
                        </select>
                        <div>good title tips and stuff</div>
                        <br>

                        <textarea name="description"></textarea>

                        <div class="preview">
                            stuff
                        </div>
                        <label name="tags">Tags</label><br>
                        <input type="text" name="tags" /><br>
                        <input class="submit" type="submit" value="Add new" />
                    </form>
                </div>


            </section>




            <!-- Modifying pages -->
            <!-- <section class="MenuSection halfWidth floatLeft">
                 <header>
                     <h3>Modify pages</h3>
                 </header>
                 <div>
                     <ul>
                         <li>1</li>
                         <li>2</li>
                         <li>3</li>
                         <li>4</li>
                     </ul>
                     {listPage(1)}
                 </div>
             </section>
            -->
        </div>


    </section>


</div>