<!--Please declare stylesheet below-->
<link rel="stylesheet" href="Admin/style/userManageContentStyle.css" />
<!--Please declare stylesheet above-->
<div id="Center">
    <header id="CenterContainerHeader">
        <h1>
            Manage users
        </h1>
        <ul>
            <li class="defaultIcon"><a href="#"><img class="userIcon" src="Admin/resources/images/user.png" alt="user icon" />Users</a></li>
            <li class="defaultIcon"><a href="#"><img class="userIcon" src="Admin/resources/images/group.png" alt="group icon" />Group</a></li>
        </ul>
    </header>
    <section id="CenterContainerBody">
        
        <div id="MainTable">
            
            <table>
                <tr class="columnNames">
                    <td>Tick</td>
                    <td>User ID</td>
                    <td>Nickname</td>
                    <td>Number of posts</td>
                    <td>Number of comments</td>
                    <td>Last online</td>
                    <td>Level</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" name="blah" value="blah" /></td>
                    <td>aas123</td>
                    <td>adgag</td>
                    <td>124</td>
                    <td>1512</td>
                    <td>12/12/12</td>
                    <td>New member</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" name="blah" value="blah" /></td>
                    <td>aas123</td>
                    <td>adgag</td>
                    <td>124</td>
                    <td>1512</td>
                    <td>12/12/12</td>
                    <td>New member</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" name="blah" value="blah" /></td>
                    <td>aas123</td>
                    <td>adgag</td>
                    <td>124</td>
                    <td>1512</td>
                    <td>12/12/12</td>
                    <td>New member</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" name="blah" value="blah" /></td>
                    <td>aas123</td>
                    <td>adgag</td>
                    <td>124</td>
                    <td>1512</td>
                    <td>12/12/12</td>
                    <td>New member</td>
                </tr>
                
            </table>
            <ul class="listsPreset">
                <li><a href="#">Select all</a></li>
                <li>&nbsp;/&nbsp;</li>
                <li><a href="#">Deselect all</a></li>
                
            </ul>
            
            <input type="text" name="something" placeholder="Search someone =) ..." class="floatRight" />
        </div>
    </section>


</div>