<footer>
			<aside>
				<div>
					<h1>Good infos</h1>
				</div>
				<ul>
					<li>
						<div>
							<h2>Application and system info</h2>
							
							<div>
								This page describes every detail <br> 
								regard to the application and <br>
								system that is installed on it.
							</div>
						</div>
					</li>
					<li>
						<div>
							<h2>How to create your <br>custom template</h2>
						
							<div>
								This page describes every detail <br> 
								regard to the application and <br>
								system that is installed on it.
							</div>
						</div>
					</li>
					<li>something</li>
					<li>something</li>
				</ul>
			</aside>
			<aside>
	
				<h1>Powered by</h1>
				<ul>
					<li>Codeigniter</li>
				</ul>
			</aside>
		</footer>
	
	</div>
</body>

</html>