*{
    padding: 0;
    margin: 0;
    list-style: none;
}

@font-face{
    font-family: 'AgencyB';
    src: url('../resources/webfonts/AGENCYB.eot');
    src: local('!'), 
        url('../resources/webfonts/AGENCYB.woff') format('woff'),
        url('../resources/webfonts/AGENCYB.ttf') format('truetype');
}


header, section, footer, aside, nav, article, hgroup {
    display: block;
}

.fullWidth{
    width: 100%;
}

.halfWidth{
    width: 40%;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

input{
    padding: 3px;
}

.defaultIcon{
    border: 1px solid #949494;
    opacity: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-image: linear-gradient(#ececec, #DDDDDD);
    background-image: -webkit-linear-gradient(#ececec, #DDDDDD);
    background-image: -moz-linear-gradient(#ececec, #DDDDDD);
    padding: 5px;
    width: 80px;
    text-align: center;
}

.defaultIcon a{
    opacity: 1px;
    color: #303030;
    text-decoration: none;

}

.defaultIcon:hover{
    background-color: black;
    background-image: linear-gradient(#DDDDDD, #ECECEC);
}

.defaultIcon:hover a{
    color: #e38d28;
}


.defaultInput{
    border: 1px solid #8B8B8B;
}

.listsPreset li{
    float: left;
}

/*Left container styling*/

#LeftContainer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    float: left;
    width: 150px;
    height: 1000px;
    background-image: url('../resources/images/sideBarTile1.jpg');
}



#Heading h1{
    color: #FFFFFF;
    font-size: 36px;
    width: auto;
    height: 70px;
    text-align: center;
    margin-top: 10px;
}

#Heading h2{
    color: #8C8C8C;
    font-size: 12px;
    text-align: center;
}


#Heading h2 a{
    color: #FFFFFF;
}


.adminNavButton{
    text-align: right;
    padding: 3px;

    border-left: 3px solid #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;

    line-height: 25px;
    background: -webkit-linear-gradient(top, #34d9cf, #1d8b84);
    background: -moz-linear-gradient(top, #34d9cf, #1d8b84);
    background: linear-gradient(top, #34d9cf, #1d8b84);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

}

.adminNavButton:hover{
    border-left: 3px solid #787070;
    border-top: 3px solid #787070;
    border-bottom: 3px solid #787070;

    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: linear-gradient(top, #FFFFFF, #FFFFFF);
}




nav{
    margin-top: 20px;
    width: 150px;
    position: absolute;
    left: 20px;
}

nav > ul > li {
    margin-top: 20px;
}


nav > ul > li > a{
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

nav ul li ul{
    padding: 5px;
    background-image: url(../resources/images/sideBarTile1.jpg);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 160px;
    margin-left: -20px;
}

nav ul li ul li{
    margin-top: 10px;
    height: 30px;
    width: 160px;
    text-align: right;

}


.arrowLeft {
    margin-left: 8px;
    margin-right: -5px;
    float: right;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid white; 
}

nav ul li ul li:not(:last-child){
    border-bottom: 1px solid #333333;
}

nav ul li ul li a{
    color: #ADADAD;
    text-decoration: none;
}

nav ul li ul li a:hover{
    color: white;
}


/*CenterContainer*/
#Center{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    left: 190px;
    height: 1000px;
    width: 80%;
    padding: 30px;
}

#Center h1, #Center h2 {
    font-family: 'AgencyB', Tahoma, Geneva, sans-serif;
}


/* footer */
footer{
    font-family: Chicago, Charcoal, sans-serif ;
    font-size: 25px;
    float: left;
    width: 100%;
    background-color: #454343;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

footer > aside > div{
    background: linear-gradient(#454343 0px, #454343 49%, #6D6D6D 50%, #6D6D6D 51%, #454343 52%, #454343 100%) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#454343 0px, #454343 49%, #6D6D6D 50%, #6D6D6D 51%, #454343 52%, #454343 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#454343 0px, #454343 49%, #6D6D6D 50%, #6D6D6D 51%, #454343 52%, #454343 100%) repeat scroll 0 0 transparent;
}

footer > aside > div > h1{
    background: none repeat scroll 0 0 #454343;
    display: block;
    margin: auto;
    font-size: 35px;
    text-align: center;
    width: 220px;
}

footer aside{

    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 30px;
}

footer aside ul{
    height: 300px;
    margin-top: 15px;
}
footer aside ul li{
    font-size: 14px;

    width: 25%;
    float: left;

}

footer > aside > ul > li > div{
    float: left;
    padding: 10px;
    background-color: #303030;
    border-radius: 5px;
    margin-left: 20%;
}

/*Main contents default*/

#Center header h1{
    font-size: 50px;
}

#Center h2{
    color: #303030;
}

.MenuSection{
    border: 1px solid #c7c7c7;
    padding: 10px;
    border-radius: 10px;
    height: 100%;

    /*http://24ways.org/2010/everything-you-wanted-to-know-about-gradients/*/
    background-image: linear-gradient(#ececec, #DDDDDD);
    background-size: 100% 50px;
    background-repeat: no-repeat;
}
.MenuSection div{
    font-size: 15px;
}
.MenuSection label{
    font-size: 15px;

}

.MenuSection input{
    font-size: 15px;
    opacity: 1px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}

.MenuSection textArea{
    width: 100%;
}
.MenuSection > form{
    height: 100%;
}


.MenuSection > header > ul > li{
    float: left;
}

.MenuSection > header > h3{
    color: red;
    font-size: 20px;
}

.MenuSection > div{
    margin-top: 30px;
    font-size: 20px;
}

.submit{

}