.lbBackground{
    position: absolute;
    background-color: #303030;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

.panel{
    position: absolute;
    z-index: 1001;
    width: 400px;
    height: 300px;
    border: 1px solid white;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    
}