.pushDown{
    margin-top: 20px;
}
.pushDown2{
    margin-top: 40px;
}

.pushDown3{
    margin-top: 100px;
}

#TitleLabel{
    float: left;
    width: 10%;
}

#TitleInput{
    width: 80%;
}

#CenterContainerIntroduction > form > textarea {
    width: 100%;
}

#MainContentBox{
    width: 100%;
    height: 180px;
    resize: vertical;
    border: 1px solid #8B8B8B;
   /* padding: 3px;*/

}

#TagText{
    width: 100%;
}

/*Font Style Options*/
#FontStyleOptions{
    height: 50px;
}

#FontStyleOptions li{
    float: left;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    text-align: center;
}

#ImageBox{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.textareaButton{
    cursor: pointer;
    color: #8B8B8B;
    height: 30px;
}
.textareaButton:hover{
    background-color: lightblue;
    opacity: 1px;
}


.submit{
    float: right;
    border: 1px solid #8B8B8B;
    background-color: #e1e1e1;
    width: 100px;
    height: 30px;
    cursor: pointer;
}