.userIcon{
    width: 70px;
    height: 72px;

}

#CenterContainerHeader > ul{
    margin-top: 15px;
}

#CenterContainerHeader > ul > li{
    float: left;
    margin-left: 10px;
}

#CenterContainerBody{
    margin-top: 150px;
}

#MainTable > table{
}

#MainTable, #MainTable table{
    width: 100%;
}

#MainTable .columnNames > td{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 5px;
    font-weight: 600;
    text-align: left;
}


.columnNames td{
    background-color: #ef9b37;
}

.columnNames td:first-child{
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    background-color: #ef9b37;
}




.columnNames td:last-child{
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    background-color: #ef9b37;
}

#MainTable table tr:hover:not(.columnNames) td{
    background-color: #34d9cf;
    opacity: 50px;
}
